.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h2, h3, h4, p, nav {
    font-family: 'Lato', sans-serif;
}

h3 {
    text-align: left;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-container h1 {
    font-size: 2rem;
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: aquamarine;
    transform: scale(1.05);
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a {
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.button {
    padding: 6px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}



.button:focus {
    outline: none;
    border-color: #ff0000;
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.5);
}


.button:hover,
.button:focus {
    padding: 6px 16px;
    background-color: aquamarine;
    border-radius: 20px;
    color: black;
}


.contact-button {
    padding: 6px 16px;
    background-color: rgb(37, 105, 194);
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:focus {
    outline: none;
    border-color: #ff0000;
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.5);
}

.contact-button:hover {
    background-color: aquamarine;
    color: black;
}

.contact-button:active {
    transform: scale(1.2);
}


.stripe {
    position: relative;
}

.stripe::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    right: 0;
    bottom: 5px;
    background: rgb(33, 90, 175);
    z-index: -1;
}

.wrapper {
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.12) 10px 10px 60px;
}

.text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    z-index: 1;
}

.text h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 5px 0;
}

.text p {
    font-size: 1rem;
}

.image {
    max-width: 100%;
    vertical-align: middle;
}

.hero-image {
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
    animation: zoom 3s infinite alternate;
}

@keyframes zoom {
    from {
        transform:  scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 5;
    color: white;
    z-index: 1;
}

.text > h2 {
    margin: 0;
}

.colorShift {
    background: -webkit-linear-gradient(0deg, blue, cyan);
    background-size: 100% 100%;
    background-position: 0% 0%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    animation: textScroll 3s infinite alternate;

}


/* skip links */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: white;
    color: black;
    padding: .5em 1em;
    font-weight: bold;
    border-top: none;
    z-index: 10;
    transition: transform 1s ease, top 1s ease;
}

.skip-links a:focus {
    top: 0em;
    border-radius: 0 0 10px 10px;
}

/* Planets Section */
.planets {
    text-align: center;
    padding: 40px 0;
    background-color: black;
    
}

.planets h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.planet-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: nowrap; 
}

.planet {
    text-align: center;
    flex: 0 0 auto; 
}

.planet img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.planet h4 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.planet a {
    display: inline-block;
    width: 100px;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #305bcf;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.planet a:focus {
    outline: none;
    border-color: #ff0000;
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.5);
}

.planet a:visited {
    background-color: rgb(121, 23, 121);
}


.planet a:hover {
    background-color: aquamarine;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}



/* Tablet (max-width: 1100px) */
@media (max-width: 1100px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }

    .wrapper {
        border-radius: 0;
    }

    .hero-image {
        animation: none;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .planet-grid {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .planet-one {
        grid-area: p1
    }

    .planet-two {
        grid-area: p2
    }

    .planet-three {
        grid-area: p3
    }

    .planet-four {
        grid-area: p4
    }

    .planet-five {
        grid-area: p5
    }

    .planet-six {
        grid-area: p6
    }

    .planet-grid {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        grid-template-areas:
        "p1 p2 p3"
        "p4 p5 p6"
    }

    .planet {
        max-width: 150px;
    }
}

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .wrapper {
        text-align: center;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }


    .hero-text {
        top: 50%;
        left: 50%;
        text-align: center;
    }

    .hero-text h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .hero-text p,
    .hero-text .magazine-name {
        font-size: 0.8rem;
    }


    .planet-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .planet {
        width: 100%;
        margin-bottom: 25px;
    }

    .planet img {
        width: 120px;
        height: 120px;
    }

    .planets h3 {
        text-align: center;
    }

    .planet h4 {
        font-size: 1rem;
        margin-top: 8px;
    }

    .planet a {
        padding: 10px 14px;
        font-size: 1rem;
        border-radius: 20px;
    }

    .contact-button {
        font-size: 1rem;
        padding: 8px 14px;
        border-radius: 20px;
    }

    footer {
        font-size: 0.8rem;
        padding: 15px 0;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}



